header
	.logo
		a.logo__link
			img.logo__img( src="img/logo.png" ) 
	nav.menu
		ul.menu__list
			li.menu__item.menu__item-1
				a.menu__link( href="" title="" )
			li.menu__item.menu__item-2
				ul.menu__drop-list
					li.menu__drop-item.menu__drop-item-1
						a.menu__drop-link( href="" title="" )
					li.menu__drop-item.menu__drop-item-2
						a.menu__drop-link( href="" title="" ) 
					li.menu__drop-item.menu__drop-item-3
						a.menu__drop-link( href="" title="" )
	.contact-info
		span.contact-info__text 86566 		